body
{
background-color:black;
}
h3
{
color:red;
text-align:left;
font-size:8pt;
}

.container {
min-width: 600px;
margin-left: auto;
margin-right: auto;
background: white;
padding: 20px;
height: 100%;
color: black;
box-shadow: 5px 5px 5px #545454;
-moz-box-shadow: 5px 5px 5px #545454;
-webkit-box-shadow: 5px 5px 5px #545454;
-moz-border-radius: 15px;
border-radius: 15px;
margin-top: 20px;
}
